In [6]:
x = 'Nam|Hom|Nay|Bi|Om.|Nam|Muon|Xin|Phep|Co|Nghi|Hoc|7|Ngay.'
y = x.replace('|', ' ').lower()
y

'nam hom nay bi om. nam muon xin phep co nghi hoc 7 ngay.'

In [8]:
# Object: 'Python'
# Mark: 10
# Student: 'NguyenVanNam'
# Male: True
# City: 'HoChiMinh'

d = {'Object': 'Python', 'Mark': 10, 'Student': 'NguyenVanNam', 'Male': True, 'City': 'HoChiMinh'}
print(d)
d['Male'] = False
print(d)
print(d.keys())
print(d.values())

{'Object': 'Python', 'Mark': 10, 'Student': 'NguyenVanNam', 'Male': True, 'City': 'HoChiMinh'}
{'Object': 'Python', 'Mark': 10, 'Student': 'NguyenVanNam', 'Male': False, 'City': 'HoChiMinh'}
dict_keys(['Object', 'Mark', 'Student', 'Male', 'City'])
dict_values(['Python', 10, 'NguyenVanNam', False, 'HoChiMinh'])

In [27]:
n = 5
m = 2

mySet = set(range(0, n+1))
if m in mySet: 
    mySet.remove(m)

result = ''
for x in mySet: 
    result += str(x) + str(x)

result

'0011334455'

In [24]:
a = float(input().strip())
b = float(input().strip())

if a == b: 
    print(-1)
else: 
    print(max(a,b))

-1

In [29]:
a = 3
b = 9

sum = 0
for x in range(a, b+1):
    if x % 2 == 1: sum += x

print(sum)

24

In [36]:
n = int(input().strip())
result = [x for x in range(1, 100) if x % n == 0]
print(result)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [37]:
n = int(input().strip())

for a in range(0, n+1):
    for b in range(0, n+1):
        if a + b == int(1.5 * n):
            print(f"{a} {b}")

10 20
11 19
12 18
13 17
14 16
15 15
16 14
17 13
18 12
19 11
20 10

In [51]:
P1 = input().strip()
P2 = [1 for c in P1 if c.isupper()].count(1)
P3 = [1 for c in P1 if c.islower()].count(1)

print(f"Given string: {P1}")
print(f"Number of uppercase letters: {P2}")
print(f"Number of lowercase letters: {P3}")

Given string: You Are Apple In My Eye
Number of uppercase letters: 6
Number of lowercase letters: 12

In [48]:
P1 = "You Are Apple In My Eye"
P2 = [1 for c in s if c.isupper()].count(1))
P3 = [1 for c in s if c.islower()].count(1))

12

In [56]:
import numpy as np
import math

In [59]:
print("abc".upper())

ABC